.navbar
    min-width: 320px
    background-color: #fdfdfd
    padding: 8px 0
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__info
        display: flex
        align-items: center
        text-align: right
    &__address
        display: flex
        flex-direction: column
        font-family: 'Museo Sans Cyrl 300', sans-serif
        font-size: 13px
        line-height: 1.2
    &__button
        margin-left: 30px
        font-family: 'Museo Sans Cyrl 700', sans-serif
    &__phone
        display: inline-block
        text-decoration: none
        font-size: 20px
        line-height: 1.2
        font-weight: 700
        color: $text-color
        margin-top: 10px
        font-family: 'Museo Sans Cyrl 700', sans-serif
@media (max-width: 768px)
    .navbar
        &__contacts
            display: none
        &__button
            margin-left: 0
        &-block
          justify-content: space-around